@media (max-width: 876px) {

    html,
    body {
        overflow-x: hidden;
    }

    .popup-main {
        position: fixed;
        flex-direction: column;
        width: 80%;
        height: calc(100vh - 176px);
        border-radius: 20px;
        flex-wrap: nowrap;
        z-index: 9999;
        display: flex;
        align-items: center;
    }

    .popup-banner {
        width: 100%;
        height: 250px;
        padding: 24px;
        border-radius: 20px 20px 0 0;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;
        gap: 8px;
        z-index: 1;
    }

    .popup-close-btn-div {
        z-index: 1000;
        position: relative;
        top: 0;
        right: 20px;
        display: none;
    }

    .popup-close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup-close-btn-img-white {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
    }

    .popup-close-btn-img-blue {
        display: none;
    }

    .popup-banner-join-text {
        width: 100%;
        align-items: flex-start;
    }

    .popup-banner-join {
        display: none;
    }

    .popup-banner-sub1 {
        font-size: 47px;
    }

    .popup-banner-sub2 {
        font-size: 20px;
    }

    .popup-contact-div {
        height: 120px;
        width: 120px;
        top: -55px;
        right: 10%;
        z-index: 1000;
        border-style: solid;
        border-color: white;
    }

    .popup-field-email-input:focus,
    .popup-field-name-input:focus,
    .popup-field-phone-input:focus {
        border-width: 1px;
        border-style: solid;
        border-color: #29ABE2;
        outline: none;
    }

    .popup-field {
        position: static;
        width: 100%;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup-field-name,
    .popup-field-email,
    .popup-field-phone {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }

    .popup-field-name-input,
    .popup-field-email-input,
    .popup-field-phone-input {
        width: 90%;
        height: 50px;
    }

    .popup-buttons-quarry-container {

        width: 100%;
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup-buttons {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin: 20px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup-btn-cancel {
        display: none;
    }

    .alert {
        width: 90%;
        left: 5%;
        z-index: 1000;
    }

    .popup-btn-cancel {
        display: none;
    }

    .popup-btn-create {
        font-size: 16px;
    }

    .popup-input-img-email,
    .popup-input-img-phone {
        position: relative;
        right: -26vw;
        top: -60px;
        height: 20px;
    }

    .popup-input-img-person {
        position: relative;
        right: -26vw;
        top: -57px;
        height: 15px;
    }
}

@media (max-width: 620px) {

    input[type="name"],
    input[type="text"],
    input[type="email"] {
        font-size: 16px;
    }
}

@media (max-width: 470px) {

    .popup-banner-sub1 {
        font-size: 30px;
    }

    .popup-banner-sub2 {
        font-size: 12px;
    }

    .popup-banner-join-text {
        height: 70px;
    }

    .popup-field-name,
    .popup-field-email,
    .popup-field-phone {
        width: 100%;
    }
}

@media (max-width: 340px) {

    .popup-field-name,
    .popup-field-email,
    .popup-field-phone {
        display: flex;
        align-items: center;
        position: static;
    }

    .popup-input-img-email,
    .popup-input-img-phone,
    .popup-field-name {
        top: 0px;
    }
}