.main-addtask{
  max-width: calc(1920px - 232px);
  margin-left: 250px;
  margin-top: 90px;
  padding: 10px 0 10px 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button{
  border: none;
}

.add-task-form{
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.add-left-side{
    width: 540px;
    min-width: 240px;
    height: 392px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 16px;
}

.add-right-side{
    width: 540px;
    min-width: 240px;
    min-height: 400px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 16px;
}

label, .label-date{
    width: 100%;
    height: 96px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-title, .input-date{
    width: 100%;
    height: 64px;
    gap: 4px;
}

.input-title input{
    width: 100%;
    padding: 12px 21px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    border: 1px solid var(--primary-color);
}

.label-textarea{
  width: 100%;
  height: 168px;
  gap: 8px;
}

.input-textarea{
  width: 100%;
  height: 136px;
  gap: 4px;
}

.input-textarea textarea{
  border-radius: 10px;
  width: 100%;
  height: 120px;
  padding: 18px 16px;
  outline: none;
  font-size: 20px;
}

.label-date input{
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  padding: 12px 10px;
  outline: none;
  border: 1px solid var(--primary-color);
}

.label-date input[type="date"]::-webkit-calendar-picker-indicator{
  background-image: url('../assets/icons/event.png');
  transform: scale(1.5);
}

.separator{
  height: 424px;
  border: 1px solid var(--primary-color);
}


.label-priority{
  width: 100%;
  height: 88px;
  gap: 8px;
}

.button-priority-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 16px;
  height: 56px;
}

.priority-button{
  background-color: var(--white);
  font-size: 20px;
  padding: 16px 10px;
  max-width: 136px;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 8px;
  border-radius: 10px;
}

.label-assignto, .label-category, .label-subtask {
  width: 100%;
  height: 80px;
  gap: 8px;
}

.label-assignto, .label-category{
  position: relative;
}

.already-assigned{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.option{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  cursor: pointer;
}

.option label{
  height: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}


.option{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
  color: var(--primary-color);
  border-radius: 10px;
}

.option label{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.option input{
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../assets/icons/unchecked.png");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}

.option input:checked {
    background-image: url("../assets/icons/checkedwhite.png");
}

.option:hover{
  background-color: var(--light-grey-color);
}


.option:has(input[type="checkbox"]:checked){
  color: var(--white);
  background-color: var(--primary-color);
}

.option span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 12px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--blue);
  padding: 5px 10px;
  border-radius: 50px;
  margin-left: -5px;
  border: 2px solid var(--white);
}

.category option{
  width: 100%;
  padding: 3px 30px;
}

.category option:hover{
  background-color: var(--light-grey-color);
  border-radius: 10px;
}

.field-error{
  border: 2px solid #FF8190 !important;
}

.error-message{
  color: #FF8190;
  font-size: 13px;
}

.drop-down-input{
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  font-size: 20px;
  outline: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border: 1px solid var(--primary-color);
}

.drop-down-input input{
  font-size: 20px;
  width: 95%;
  height: 100%;
  outline: none;
  border: unset;
}

.container-contact::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.container-contact::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.star{
  color: rgb(255, 61, 0);
}

.assigned-contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding: 5px 10px;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.assigned-contact span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue);
  padding: 5px 10px;
  border-radius: 50px;
  margin-left: -5px;
  border: 2px solid var(--white);
}

.urgent {
  background-color: rgb(255, 61, 0) !important;
  color: white;
}

.medium {
  background-color: rgb(255, 168, 0) !important;
  color: white;
}

.low {
  background-color: rgb(122, 226, 41) !important;
  color: white;
}

