.logo {
    width: 56px;
    height: fit-content;
}

.sign-up-button {
    border-radius: 8px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    color: #FFFFFF;
    margin-left: 20px;
}
