.contacts {
    position: fixed;
    width: 456px;
    height: calc(100vh - 60px);
    opacity: 1;
    top: 60px;
    left: 232px;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 0 5px -2px black;
}

.contact-header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-render {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.render-div {
    width: 352px;
    height: 78px;
    opacity: 1;
    border-radius: 10px;
    padding-top: 15px;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-left: 24px;
    gap: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.render-div-hover {
    background-color: #2A3647;
    color: #FFFFFF;
}

.render-div:hover {
    cursor: pointer;
    border-style: solid;
    padding-bottom: 12px;
    padding-top: 12px;
}

.render-div-initals {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.render-initals {
    color: white;
}

.contact-info {
    width: 200px;
    height: 48px;
    opacity: 1;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contact-name {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.contact-mail {
    color: #29ABE2;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.render-div-splitter {
    width: 352px;
    height: 40px;
    opacity: 1;
    border-radius: 10px;
    padding-top: 15px;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-left: 24px;
    gap: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.render-letter {
    font-size: 20px;
    padding-left: 12px;
}

.render-letter-splitter {
    width: 352px;
    height: 0px;
    opacity: 1;
    border-radius: 3px;
    border-width: 1px;
    border: 1px solid #D1D1D1;
}

.center-head {
    position: absolute;
    width: 569px;
    height: 73px;
    top: 206px;
    left: 800px;
    opacity: 1;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-headline-text {
    font-weight: 700;
    font-style: Bold;
    font-size: 61px;
    line-height: 120%;
}

.center-head-splitter {
    width: 0px;
    height: 59px;
    opacity: 1;
    border-width: 3px;
    border: 3px solid #29ABE2
}

.center-head-text {
    font-size: 27px;
    line-height: 120%;
}

.center-body {
    position: absolute;
    width: 452px;
    height: 364px;
    top: 311px;
    left: 800px;
    opacity: 1;
    gap: 21px;
    display: flex;
    flex-direction: column;
}

.center-top {
    width: 452px;
    height: 120px;
    opacity: 1;
    gap: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-middle {
    width: 207px;
    height: 74px;
    opacity: 1;
    gap: 59px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.center-bottom {
    width: 146px;
    height: 128px;
    opacity: 1;
    gap: 22px;
}

.center-top-inital-circle {
    width: 120px;
    height: 120px;
    opacity: 1;
    border-radius: 70px;
    border-width: 3px;
    gap: 10px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF
}

.center-top-inital-div {
    background-color: #e22929;
    width: 120px;
    height: 120px;
    opacity: 1;
    border-radius: 70px;
    border-width: 3px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-top-inital {
    font-weight: 500;
    font-style: Medium;
    font-size: 47px;
    line-height: 120%;
    text-align: center;
    vertical-align: middle;
}

.center-top-second-div {
    width: 278px;
    height: 88px;
    opacity: 1;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.center-top-name {
    font-weight: 500;
    font-style: Medium;
    font-size: 47px;
    line-height: 120%;
    vertical-align: middle;
    white-space: nowrap;
}

.center-top-edit {
    width: 159px;
    height: 24px;
    opacity: 1;
    display: flex;
    gap: 12px;
}

.center-middle-text {
    font-size: 20px;
    line-height: 120%;
    vertical-align: middle;
}

.center-bottom {
    width: 140px;
    height: 128px;
    gap: 22px;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.center-bottom-mail {
    width: 140px;
    height: 53px;
    gap: 15px;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.center-bottom-number {
    width: 124px;
    height: 53px;
    gap: 15px;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.center-bottom-mail-text {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 120%;
    vertical-align: middle;
}

.center-bottom-mail-name {
    font-size: 16px;
    line-height: 120%;
    vertical-align: middle;
    color: #007CEE;
}

.center-bottom-phone-text {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 120%;
    vertical-align: middle;
}

.center-bottom-phone-number {
    font-size: 16px;
    line-height: 120%;
    vertical-align: middle;
}