.editTaskPopup {
    align-content: center;
  max-width: 525px;
  max-height: 98vh;
  background-color: var(--white);
  padding: 48px 40px;
  font-family: "Inter";
  gap: 24px;
  opacity: 2;
  overflow-y: auto;
  border-radius: 30px;
  position: absolute;
}

.editTaskPopup::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.editTaskPopup::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.editTaskPopup label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    gap: 8px;
    margin-bottom: 10px;
}

.editTaskPopup textarea,.editTaskPopup .label-title input, .editTaskPopup .label-date input{
    border-radius: 10px;
    padding: 12px 10px;
    outline: none;
    border: 3px solid var(--light-grey-color);
}

.label-date input[type="date"]::-webkit-calendar-picker-indicator{
    background-image: url('../assets/icons/event.png');
    transform: scale(1.8);
}

.add-task-priority{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.priority-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: row;
}

.add-task-priority button{
    margin: 8px;
    height: 42px;
  flex-grow: 1;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  background-color: var(--white);
  cursor: pointer;
  font-size: 16px;
}

.add-task-priority button:hover{
    box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.4);
}

.drop-down-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    padding: 12px 10px;
    border: 2px solid var(--light-grey-color);

}

.drop-down-input input{
    border: none;
    outline: none;
    width: 92%;
}

.drop-down-input span{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20px;
    height: 20px;
}

.drop-down-input span:hover{
    background-color: var(--light-grey-color);
    border-radius: 20px;
}

.edit-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-submit-change{
    color: var(--white);
    font-weight: 600;
    margin-top: 30px;
    border: unset;
    border-radius: 10px;
    padding: 8px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.urgent {
  background-color: rgb(255, 61, 0) !important;
  color: white;
  img{
    background-image: url('../assets/icons/urgentwhite.png');
    background-size: 100%;
    background-position: center;
    object-fit: cover;
    opacity: 2;
  }
}

.medium {
  background-color: rgb(255, 168, 0) !important;
  color: white;
  img{
    
    background-image: url('../assets/icons/mediumwhite.png');
    background-size: 100%;
    background-position: center;
    object-fit: cover;
    opacity: 2;
  }
}

.low {
  background-color: rgb(122, 226, 41) !important;
  color: white;
  img{
    background-image: url('../assets/icons/lowwhite.png');
    background-size: 100%;
    background-position: center;
    object-fit: cover;
    opacity: 2;
  }
}

.container-contact{
  display: flex;
  flex-direction: column;
  height: 150px;
  overflow-y: auto;
  padding: 10px 30px;
}

.container-contact::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.container-contact::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.option{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}

.option label{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
