.main-help{
    max-width: calc(1920px - 232px);
    margin-left: 250px;
    margin-top: 80px;
    padding: 10px 0 10px 20px;
}

.how-to-use-under-text-div {
    display: flex;
}

.h2-numbers {
    padding-right: 24px;
}

.margin-enjoy-using-join {
    padding-top: 30px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
}

h3 {
    padding-top: 16px;
    font-weight: 600;
}

a {
    color: #29ABE2
}

.arrow-left-line {
    position: sticky;
    top: 120px;
    left: 94%;
    height: 25px;
    width: 25px;
}

.arrow-left-line:hover {
    border-radius: 50%;
    background-color: #e0e0e0;
}

.arrow-left-line:hover {
    transform: scale(1.20);
}


@media (max-width: 876px) {
    .text {
        margin: 0;
        padding-right: 16px;
        padding-left: 16px;
    }
    .margin-enjoy-using-join {
        margin-bottom: 100px;
    }
}


