
.text {
    margin-left: 300px;
    margin-top: 220px;
    padding-right: 50px;
    color: #000000;
}

.how-to-use-under-text-div {
    display: flex;
}

.h2-numbers {
    padding-right: 24px;
}

.margin-enjoy-using-join {
    padding-top: 30px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
}

h3 {
    padding-top: 16px;
    font-weight: 600;
}

a {
    color: #29ABE2
}

.arrow-left-line {
    position: sticky;
    top: 20%;
    left: 94%;
    height: 25px;
    width: 25px;
}

.arrow-left-line:hover {
    border-radius: 50%;
    background-color: #e0e0e0;
}

.arrow-left-line:hover {
    transform: scale(1.20);
}


@media (max-width: 876px) {
    .text {
        margin: 0;
        margin-top: 100px;
        padding-right: 16px;
        padding-left: 16px;
    }
    .margin-enjoy-using-join {
        margin-bottom: 100px;
    }
}

@media (min-width: 1024px) {
    .margin-enjoy-using-join {
        padding-top: 60px;
    }
}

@media (min-width: 1440px) {
    section {
        max-width: 1440px;
        margin: 0 auto;
    }
    .h1-help {
        font-size: 48px;
    } 
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    .text-font-size {
        font-size: 24px;
    }
    .arrow-left-line {
        height: 40px;
        width: 40px;
    }
}
@media (min-width: 2000px) {
    .text {
        margin-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 4000px) {
    .h1-help {
        font-size: 64px;
    }
    h2 {
        font-size: 48px;
    }
    h3 {
        font-size: 40px;
    }
    .text-font-size {
        font-size: 40px;
    }
    .arrow-left-line {
        height: 50px;
        width: 50px;
    }
    .margin-enjoy-using-join {
        padding-top: 100px;
    }
}

@media (min-width: 6000px) {
    .h1-help {
        font-size: 72px;
    }
    h2 {
        font-size: 56px;
    }
    h3 {
        font-size: 48px;
    }
    .text-font-size {
        font-size: 48px;
    }
    .arrow-left-line {
        height: 70px;
        width: 70px;
    }
}

@media (min-width: 8000px) {
    .h1-help {
        font-size: 80px;
    }
    h2 {
        font-size: 62px;
    }
    h3 {
        font-size: 56px;
    }
    .text-font-size {
        font-size: 56px;
    }
    .arrow-left-line {
        height: 90px;
        width: 90px;
    }
}