.success-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    opacity: 2;
}

.success-message-content{
    position: absolute ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--light-grey-color);
    width: 300px;
    height: 70px;
    border-radius: 15px;
}

.main-login {
  height: 100vh;
  width: 100%;
  background-color: var(--light-grey-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}


.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}

h1 {
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.signup-div {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  gap: 35px;
}

.signup-div-mobile {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.login-form {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 422px;
  height: 160px;
  gap: 20px;
}

.logo{
    width: 100px;
    height: 120px;
    transform: scale(1);
    z-index: 1000;
}

.log-in-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.hr-login{
  border: 2px solid #29abe2;
  width: 60%;
}

.log-in-div h1 {
  font-size: 48px;
}

.sign-up-button{
  border: unset;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 16px;
}

.sign-up-button:hover{
  background-color: #29abe2;
}

.form-input{
    display: flex;
    flex-direction: row;
    width: 400px;
    gap: 10px;
    border: 1px solid var( --grey-border);
    border-radius: 10px;
}

.form-input input{
    width: 500px;
    padding: 12px 21px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

.form-input span{
    padding: 12px 12px;
}

.form-input input::placeholder{
    color: var(--grey-border);
}

.form-input input:focus{
    background-color: transparent;
}

.login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  background-color: var(--white);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  width: 652px;
  height: 549px;
  gap: 32px;
  padding: 48px 115px;
}


.guest-login-button {
  padding: 15px 24px;
  gap: 10px;
  color: #2A3647;
  background-color: #ffffff;
  border: 1px solid #2A3647 !important;
}
.guest-login-button:hover{
  transform: scale(1.1);
  border: 1px solid var(--blue);
  color: var(--blue);
  border: 1px solid #29abe2 !important;
}

#login-button:hover{
  transform: scale(1.1);
  background-color: var(--blue);
}

.log-in-and-guest-log-in {
  margin-top: 20px;
  border: unset;
  gap: 8px;
  border-radius: 8px;
  padding: 15px 24px;
  font-weight: 700;
  font-size: 21px;
}

.button-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: var(--grey-text);
  text-decoration: none;
  font-weight: 500;
  padding: 20px;
  font-size: 16px;
}

footer a:hover {
  color: var(--blue);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.error {
  color: #FF8190 !important;
}

.login-error{
  border: 1px solid #FF8190;
}

@media (max-width:700px) {
  .login-div {
    width: 552px;
    height: 500px;
    gap: 32px;
  }
}


@media (max-width: 600px) {
  .signup-div {
    display: none;
    margin-bottom: 0;
    margin-top: 100px;
  }

  .button-overlay {
    flex-direction: column;
    gap: 10px;
  }

  .log-in-and-guest-log-in {
    width: 120px;
    margin: 8px;
  }

  .signup-div-mobile {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    display: flex;
    margin-top: 70px;
  }

  .border-line::after {
    top: 28%;
  }

  .login-div {
    width: 400px;
    height: 475px;
    padding: 32px 0;
    gap: 32px;
  }

  .form-input{
    width: 350px;
  }

  .form-input input{
      width: 300px;
      padding: 12px 21px;
      outline: none;
      border: none;
      border-radius: 20px;
      font-size: 20px;
  }

  .guest-login-button, #login-button{
    width: 180px;
    height: 51px;
    gap: 10px;
    padding: 4px 0px;
    font-size: 16px;
    margin: 0;
  }

  .sign-up-button{
    width: 104px;
  }
}

@media (max-width: 425px){
  .logo{
    width: 60px;
    height: 70px;
  }
  .login-div {
    width: 98%;
    height: 470px;
    padding: 32px 0;
    gap: 24px;
  }

  .form-input{
    width: 310px;
    gap: 10px;
  }

  .form-input input{
      width: 90%;
      padding: 10px 21px;
      border-radius: 20px;
      font-size: 20px;
      gap: 10px;
  }

  .guest-login-button, #login-button{
    width: 180px;
    height: 41px;
    gap: 8px;
  }

  .sign-up-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
  }

}
