.policy-body {
    padding-left: 300px;
    padding-top: 100px;
    padding-right: 60px;
    padding-bottom: 100px;
    max-width: calc(1920px - 232px);
}

.on-notice {
    color: var(--blue) !important;
    transform: scale(1.1);
}

@media (max-width: 876px) {
    .policy-body {
        padding:100px 10px;
    }

    h1 {
        text-align: center;
    }
}

.hidden-header{
    opacity: 0;
}