.taskCardParent {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  background: rgba(24, 30, 63, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.taskCardPopup {
  width: 550px;
  max-height: 98vh;
  background-color: var(--white);
  padding: 48px 40px;
  gap: 24px;
  opacity: 2;
  border-radius: 30px;
  position: absolute;
  right: -650px;
  overflow-y: scroll;
  animation: animatePopUpTask 0.5s ease-in-out 0.5s forwards;
}

.task-popup-remove{
  position: absolute;
  right: 50%;
  animation: animatePopUpTaskRemove 0.5s ease-in-out 0.5s forwards;
}

@keyframes animatePopUpTask {
  0% {
    right: -650px;
  }

  100% {
    right: 50%;
    transform: translate(50%, 0);
  }
}

@keyframes animatePopUpTaskRemove {
  from{
    transform: translate(50%, 0);
  }
  to {
    right: -650px;
    transform: translate(0, 0);
    display: none;
  }
}

.taskCardPopup h4 {
  font-size: 61px;
  font-weight: bold;
}

.taskCardPopup .taskCard-body,
.taskCardPopup .asigned-to,
.taskCardPopup h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.taskCardPopup .priority,
.taskCardPopup .due-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.taskCardPopup .priority-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.taskCardPopup ul {
  list-style: none;
  gap: 8px;
}

.taskCardPopup::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.taskCardPopup::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.taskCardPopup ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 7px 16px;
}


.taskCardPopup input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../assets/icons/unchecked.png");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}

.taskCardPopup input[type="checkbox"]:checked {
    background-image: url("../assets/icons/checked.png");
}


.taskCardPopup .form-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 6px 16px;
}

.taskCardPopup .taskPopupFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 20px;
}

.taskCardPopup .taskPopupFooter p {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
  gap: 4px;
}

.taskCardPopup .taskPopupFooter p:last-child{
  padding-left: 10px;
  border-left: 2px solid var(--primary-color);
}

.delete-icon:hover img{
  content: url('../assets/icons/deleteblue.png');
}

.edit-icon:hover img{
  content: url('../assets/icons/editblue.png');
}

.asigned-to-list{
  max-height: 120px;
  width: 100%;
  overflow-y: auto;
}

.form-subtask{
  max-height: 150px;
  width: 100%;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .taskCardPopup {
    width: 95vw;
    max-height: 98vh;
    padding: 32px 24px;
  }

  .taskCardPopup h4 {
    font-size: 36px;
  }

  .taskCardPopup .taskCard-body,
  .taskCardPopup .asigned-to,
  .taskCardPopup h5 {
    font-size: 16px;
  }

}
