.body-signup{
    max-width: 1920px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 0 auto;
}

.main-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100dvh;
}

.header-signup{
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 125px;
}

.header-signup img{
    width: 100px;
    height: 121px;
    margin-top: 30px;
    margin-left: 20px;
    z-index: 2;
}

.form-signup-section{
    position: relative;
    width: 598px;
    height: auto;
    margin-top: 98px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 48px 88px;
    gap: 0px;
}

.form-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

    
.form-header h2{
    font-size: 61px;
    font-weight: 700;
    text-align: center;
}

.form-signup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.span-link{
    position: absolute;
    top: 60px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
}

.hover-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 25px;
    width: 40px !important;
    height: 20px !important;
}

.hover-img:hover{
    background-color: var(--light-grey-color);
}

.hr-signup{
    text-align: center;
    background-color: var(--blue);
    width: 60%;
    border: 2px solid var(--blue);
    margin: 10px 40px;
}

.bar-signup{
    display: none;
}

.form-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 48px;
    gap: 10px;
    border: 1px solid var(--grey-border);
    border-radius: 10px;
}

.form-input input{
    width: 100%;
    height: 100%;
    padding: 12px 21px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

.form-input input::placeholder{
    color: var(--grey-border);
}

.form-input span{
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 0 12px;
}

.form-input input:focus{
    background-color: transparent;
}

.form-input img{
    scale: 1.2;
    width: 20px;
    height: 16px;
    color: var(--grey-border);
}

.label-privacy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 100%;
    padding:12px 21px;
    gap: 10px;
    position: relative;
}

.label-privacy p{
    font-size: 18px;
}

.label-privacy input {
    appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../assets/icons/unchecked.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  cursor: pointer;
}

.label-privacy input:checked {
  background-image: url("../assets/icons/checked.png");
}

.privacy-link{
    font-size: 16px;
    text-decoration: none;
    color: var(--blue);
}

.signup-button{
    padding: 15px 24px;
    gap: 10px;
    font-size: 21px;
    font-weight: 700;
    color: var(--white);
    border-radius: 8px;
    border: unset;
}

.signup-button:disabled {
  background: #ccc;
  color: #666;
  cursor: not-allowed; 
}

.signup-button:hover{
    background-color: var(--blue);
}

.success-message{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(24, 30, 63, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.success-message-content{
    position: absolute ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--light-grey-color);
    width: 300px;
    height: 70px;
    border-radius: 15px;
    animation: slideTop 0.5s ease-in-out both, fadeOut 0.5s ease-in-out 1s forwards;
}

@keyframes slideTop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to   { opacity: 0; transform: translateY(-100px); }
}

footer{
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 45px;
}

.signup-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.signup-footer a{
    text-decoration: none;
    padding: 8px;
    font-size: 16px;
    color: var(--text-color);
}

.signup-footer a:hover{
    color: var(--blue);
}

.error{
    font-size: 16px;
    color: #FF8190;
    height: 20px;
}

.password-error{
    border: 1px solid #FF8190;
}

@media (max-width:770px) {
    .form-header h2{
        padding-right: 0;
    }
    
    .hr-signup{
        margin: 10px 50px;
    }
}

@media (max-width: 620px){
    .form-header{
        margin-bottom: 10px;
    }
    .form-signup-section{
        width: 100%;
        padding:24px;
        gap: 24px;
    }

    .form-header h2{
        padding-right: 0;
    }
    
    .hr-signup{
        margin: 10px 50px;
    }

    .header-signup img{
        width: 90px;
        height: 101px;
    }

    .span-link{
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .form-signup{
        gap: 16px;
    }

    .signup-button{
        padding: 10px 24px;
        gap: 8px;
        font-size: 18px;
    }
}

@media (max-width: 420px){
    .form-signup{
        gap: 0px;
    }

    .form-header{
        margin-bottom: 10px;
    }

    .form-signup-section{
        width: 100%;
        padding:24px;
        gap: 5px;
    }

    .form-header h2{
        font-size: 30px;
        padding-right: 0;
    }

    .header-signup img{
        width: 50px;
        height: 70px;
    }
    
    .hr-signup{
        margin: 10px 20px;
    }

    .error{
        font-size: 13px;
    }

}

