body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    height: 122px;
}

main{
    flex: 1;
    padding: auto 0;
    height: 100dvh;
}

.main-signup{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-signup{
    position: absolute;
    top: 30px;
    left: 25px;
}

.header-signup img{
    width: 100px;
    height: 121px;
    z-index: 1;
}

.form-signup-section{
    position: absolute;
    width: 598px;
    height: 587px;
    margin-top: 102px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 48px 88px;
    gap: 32px;
}

.form-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

    
.form-header h2{
    padding-right: 70px;
    font-size: 61px;
    font-weight: 700;
}

.form-signup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.span-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 70px;
    margin-right: 70px;
    height: 30px;
    width: 50px;
}

.hover-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 25px;
    width: 40px !important;
    height: 20px !important;
}

.hover-img:hover{
    background-color: var(--light-grey-color);
}

.hr-signup{
    text-align: center;
    background-color: var(--blue);
    width: 60%;
    border: 2px solid var(--blue);
    margin: 10px 40px;
}

.bar-signup{
    display: none;
}

.form-input{
    display: flex;
    flex-direction: row;
    width: 400px;
    gap: 10px;
    border: 1px solid var(--light-grey-color);
    border-radius: 10px;
}

.form-input input{
    width: 400px;
    padding: 12px 21px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

.form-input span{
    padding: 12px 12px;
}

.form-input input:focus{
    background-color: transparent;
}

.form-input img{
    width: 20px;
    height: 16px;
}

.label-privacy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 400px;
    padding:12px 21px;
    gap: 10px;
}

.privacy-link{
    font-size: 16px;
    text-decoration: none;
    color: var(--blue);
}

.signup-button{
    padding: 15px 24px;
    gap: 10px;
    font-size: 21px;
    font-weight: 700;
    color: var(--white);
    border-radius: 8px;
}

.signup-button:hover{
    background-color: var(--blue);
    border: unset;
}



footer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 40px;
}

.signup-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.signup-footer a{
    text-decoration: none;
    padding: 8px;
    font-size: 16px;
    color: var(--text-color);

}

.signup-footer a:hover{
    color: var(--blue);
}

.error{
    font-size: 13px;
    color: #FF8190;
}

.password-error{
    border: 1px solid #FF8190;
}


@media (max-width: 876px) {
    .header-signup{
        top: 15px;
        left: 15px;
    }
    .header-signup img{
        width: 90px;
        height: 101px;
    }
    .form-signup-section{
        width: 498px;
        height: 530px;
    }

    .form-header{
        margin-bottom: 0;
    }
    .form-header h2{
        font-size: 42px;
        padding-right: 0px;
    }

    .span-link{
        padding-right: 100px;
        margin-right: 0px;
    }

    .bar-signup{
        display: block;
        margin-right: 50px;
    }
}

@media (max-width: 600px){
    .form-header{
        margin-bottom: 10px;
    }
    .form-signup-section{
        width: 450px;
        height: 500px;
        padding:24px;
    }
    .form-header h2{
        font-size: 30px;
    }

}

@media (max-width: 450px){
    .main-signup{
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-top: 122px; */
    }
    .form-signup-section{
        width: 380px;
        height: 480px;
        padding: 20px;
    }

    .form-input{
        width: 290px;
    }

    .form-input input{
        font-size: 16px;
        padding: 12px 10px;
        width: 240px;
    }

    .form-input span{
        padding: 12px 6px;
    }
    .signup-button{
        padding: 10px 40px;
    }

    .label-privacy{
        width: 300px;
    }

    .hr-signup{
        margin: 10px 20px;
    }

}

@media (max-width:400px) {
    .form-signup-section{
        width: 310px;
        padding: 10px;
    }

    .form-input{
        width: 300px;
    }

    .form-input input{
        width: 270px;
    }

    .label-privacy{
        width: 250px;
    }
    
}

