body, html {
    margin: 0;
    padding: 0;
    background-color: #F6F7F8;
    font-family: "Inter", sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex: 1;
}

button {
    background-color: #2A3647;
}

.white-color-text {
    color: #FFFFFF;
}

.grey-text {
    color: #CDCDCD;
}